In [1]:
print ("Hello World")

Hello World

In [2]:
value1 = 20
value2 = 55
total = value1 + value2
print(total)

75

In [3]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
total = int(num1) + int(num2)
print(total)

415

In [5]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num3= input("Enter third number: ")
total = int(num1) + int(num2) + int(num3)
print(total)

710

In [6]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3= int(input("Enter third number: "))
total = int(num1) + int(num2) + int(num3)
print(total)
average = total / 3
print(average)

440
146.66666666666666

In [12]:
my_name = 'Janan'
for name in range(20):
    print(my_name)

Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan
Janan

In [13]:
def lb_to_kg(pounds):
    kilograms = pounds / 2.2
    return kilograms